parameters:
    level: 4
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

    ignoreErrors:
        - '#Trait .+ is used zero times and is not analysed#'
