name: Run Unit Tests

on:
  pull_request: ~
  push:
    branches:
      - master
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: [8.1, 8.2, 8.3, 8.4]
        laravel: [10.*, 11.*, 12.*]
        dependency-version: [prefer-lowest, prefer-stable]
        include:
          - laravel: 12.*
            testbench: 10.*
          - laravel: 11.*
            testbench: ^9.1.4
          - laravel: 10.*
            testbench: 8.*
        composer-version: [ v2 ]
        exclude:
          - php: 8.1
            laravel: 11.*
          - php: 8.1
            laravel: 12.*
    name: PHP${{ matrix.php }} - L${{ matrix.laravel }} - Composer ${{ matrix.composer-version }} --${{ matrix.dependency-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-${{ matrix.php }}-composer-${{ matrix.composer-version }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug
          tools: composer:${{ matrix.composer-version }}

      - name: Install Composer dependencies
        run: |
          if [ "${{ matrix.php }}" = "8.1" ]; then
            composer require --dev pestphp/pest:2.35.1 --no-interaction --no-update
          fi
          composer require "illuminate/contracts:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer update --${{ matrix.dependency-version }} --no-interaction --prefer-dist --no-suggest

      - name: Unit Tests
        run: composer test

